.profile__image-button {
    position: absolute;
    width: 120px;
    height: 120px;
    background: transparent url('../../../images/edit-icon.svg') center no-repeat;
    background-size: 26px 26px;
    border: none;
    align-self: center;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    opacity: 0;;
  }
  
  .profile__image-button:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }